body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
}

h1 {
    color: #333;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* 容器和表单样式 */
.container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.shipment-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

.button-group .btn {
    padding: 15px 25px;
    font-size: 20px;
    margin: 0 5px;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: #007bff;
    transition: background-color 0.3s, color 0.3s;
}

.button-group .btn.active {
    background-color: #007bff;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.btn-print, .btn-submit {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}

.btn-print {
    background-color: #007bff;
}

.btn-print:hover {
    background-color: #0056b3;
}

.btn-submit {
    background-color: #28a745;
}

.btn-submit:hover {
    background-color: #218838;
}

@media print {
    .btn-print, .btn-submit, .button-group, .navbar {
        display: none;
    }
}
